<!DOCTYPE html>
<html>
<head>
<title>
formulaire Dhamma Mahi méditation de groupe
</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>


<body>

<form action="/form" method="post">

<h1>
Demande pour devenir contact national ou hôte de méditation de groupe
</h1>

<p>
Si vous désirez apparaître dans la liste des contacts nationaux des Nouvelles de Vipassana, ou servir comme hôte d’une méditation de groupe officielle, veuillez en faire la demande en complétant le formulaire ci-dessous. Merci de bien préciser à la fin de ce formulaire dans le champ "assistant référent" le nom d'un assistant qui vous connaît bien ou avec lequel vous avez suivi ou servi un ou plusieurs cours.
</p>

<span style="color:#F61212">
<p>
<center>
<% if @errors.any? %>
  Une ou plusieurs erreurs ont eu lieu : <br /> <br />
    <% @errors.each do |error| %>
      - <%= error %>
      <br />
    <% end %>
<% end %>
</center>
</p>


<span style="color:#000000">


<p>
<label for="contactnational">Souhaitez-vous devenir contact national</label> <input type="checkbox" name="contactnational" value="true" <%= if @params[:contactnational] == 'true' then 'checked' end %> />
<label for="hotegroupemedit">ou hôte d'un groupe officiel de méditation</label> <input type="checkbox" name="hotegroupemedit" value="true" <%= if @params[:hotegroupemedit] == 'true' then 'checked' end %> />
</p>

<fieldset>

	<legend>Vos coordonnées</legend>

 	<label>Nom et prénom </label> <input type="text" name="nomprenom" value="<%= @params[:nomprenom] %>" required />

  <label>Adresse</label> <input type="text" name="adresse" value="<%= @params[:adresse] %>" size=50 required />

  <label> <span data-tip="Merci de saisir au moins un numéro de téléphone fixe ou portable"> Téléphone portable </span> </label> <input type="tel" name="telportable" value="<%= @params[:telportable] %>" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" />

	<label> <span data-tip="Merci de saisir au moins un numéro de téléphone fixe ou portable"> Téléphone fixe </span> </label> <input type="tel" name="telfixe" value="<%= @params[:telportable] %>" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" />

	<label>Adresse e-mail</label> <input type="email" name="adressemail" value="<%= @params[:adressemail] %>" required />

</fieldset>

<br />

<fieldset>

	Vivez-vous en couple (marié ou non) ?
	<label for="coupleoui">Oui</label> <input type="radio" name="couple" value="Oui" <%= if @params[:couple] == 'Oui' then 'checked' end %> id="coupleoui"  />
	<label for="couplenon">Non</label> <input type="radio" name="couple" value="Non" <%= if @params[:couple] == 'Non' then 'checked' end %> id="couplenon"  />
  <br /> 

	<label>Nom du (de la) partenaire </label> <input type="text" name="nompartenaire" value="<%= @params[:nompartenaire] %>" />
  <br /> 

	Votre époux(se)/partenaire pratique-t-il(elle) Vipassana tel que l'enseigne S.N. Goenka ?
	<label for="partenaireoui">Oui</label> <input type="radio" name="partenairepratique" value="Oui" <%= if @params[:partenairepratique] == 'Oui' then 'checked' end %> id="partenaireoui" />
	<label for="partenairenon">Non</label> <input type="radio" name="partenairepratique" value="Non" <%= if @params[:partenairepratique] == 'Non' then 'checked' end %> id="partenairenon" />


</fieldset>
<br />

<fieldset>

  <legend>Veuillez détailler vos cours avec S.N. Goenka ou ses assistants : </legend>
	
  <TABLE BORDER="0"> 
    <tr> 
      <td width=300></td>	
 		 <td width=300>Date</td>
 		 <td width=300>Lieu</td> 
 		 <td width=300>Enseignant(s)</td> 
  	</tr> 
  
  	<tr>	
  		<td>Premier Cours</td>
  		<td><input type="date" name="datepremiercours" value="<%= @params[:datepremiercours] %>" required /> </td>
  		<td><input type="text" name="lieupremiercours" value="<%= @params[:lieupremiercours] %>" required /> </td>
  		<td><input type="text" name="enseignantpremiercours" value="<%= @params[:enseignantpremiercours] %>" required /> </td>
    </tr> 

  	<tr>
		  <td> Cours le plus récent
		  <td><input type="date" name="datederniercours" value="<%= @params[:datederniercours] %>" required /> </td>
  		<td><input type="text" name="lieuderniercours" value="<%= @params[:lieuderniercours] %>" required /> </td>
  		<td><input type="text" name="enseignantderniercours" value="<%= @params[:enseignantderniercours] %>" required /> </td>
    </tr> 
	</TABLE> 

  <TABLE BORDER="0"> 
    <tr> 
      <td width=500>Nombre total de cours de 10 jours à plein temps comme : </td> 
      <td width=100>étudiant </td>
      <td width=200><input type="number" name="nbcoursassis" value="<%= @params[:nbcoursassis] %>" min="1" max="200" required /> </td>
      <td width=96> <span data-tip="Veuillez saisir 0 si pas de cours servi"> servant </span> </td>
      <td width=200><input type="number" name="nbcoursservis" value="<%= @params[:nbcoursservis] %>" min="0" max="200"  required /> </td>
    </tr> 
  </TABLE>

  <TABLE BORDER="0"> 
    <tr> 
      <td width=300>Autres cours comme étudiant (spécifiez) </td> 
      <td width=300><input type="text" name="autrescoursassis" value="<%= @params[:autrescoursassis] %>" size=50 /> </td>
      <td width=300>Autres cours comme servant (spécifiez) </td> 
      <td width=300><input type="text" name="autrescoursservis" value="<%= @params[:autrescoursservis] %>" size=50 /> </td>
    </tr>
  </TABLE> 
  <br />

  Maintenez vous une pratique régulière de méditation Vipassana ?
  <label for="pratiqueregoui">Oui</label> <input type="radio" name="pratiquereg" value="Oui" <%= if @params[:pratiquereg] == 'Oui' then 'checked' end %> id="pratiqueregoui" />
  <label for="pratiqueregnon">Non</label> <input type="radio" name="pratiquereg" value="Non" <%= if @params[:pratiquereg] == 'Non' then 'checked' end %> id="pratiqueregnon" />
  <br /> 
  <br /> 

  Veuillez détailler (combien de fois, combien de temps, quotidiennement etc).
  <input type="text" name="detailspratique" value="<%= @params[:detailspratique] %>" size=200 />
  <br /> 
  <br /> 

  Pratiquez-vous d'autres techniques de méditation (y compris d'autres types de Vipassana) ou des thérapies ou pratiques de guérison ?
  <label for="pratiqueautrestechniquesoui">Oui</label> <input type="radio" name="pratiqueautrestechniques" value="Oui" <%= if @params[:pratiqueautrestechniques] == 'Oui' then 'checked' end %>  id="pratiqueautrestechniquesoui" />
  <label for="pratiqueautrestechniquesnon">Non</label> <input type="radio" name="pratiqueautrestechniques" value="Non" <%= if @params[:pratiqueautrestechniques] == 'Non' then 'checked' end %> id="pratiqueautrestechniquesnon" />
  <br />
  <label>Si oui, veuillez donner des détails : </label> <input type="text" name="detailpratiqueautrestechniques" value="<%= @params[:detailpratiqueautrestechniques] %>" />
  <br />
  <br /> 

  Enseignez-vous ou pratiquez-vous sur autrui ?
  <label for="pratiqueautruioui">Oui</label> <input type="radio" name="pratiqueautrui" value="Oui" <%= if @params[:pratiqueautrui] == 'Oui' then 'checked' end %> id="pratiqueautruioui" />
  <label for="pratiqueautruinon">Non</label> <input type="radio" name="pratiqueautrui" value="Non" <%= if @params[:pratiqueautrui] == 'Non' then 'checked' end %> id="pratiqueautruinon" />
  <br />
  <label>Si oui, veuillez donner des détails : </label> <input type="text" name="detailpratiqueautrui" value="<%= @params[:detailpratiqueautrui] %>" />


</fieldset>
<br />

<fieldset>

Observer les Cinq Préceptes dans la vie quotidienne fait partie de la pratique :
<br /> 
− s’abstenir de tuer toute créature vivante
<br /> 
− s’abstenir de voler
<br /> 
− s’abstenir d’inconduite sexuelle, c’est à dire être engagé à vie avec une personne ou bien vivre dans un célibat total
<br /> 
− s’abstenir de paroles inappropriées
<br /> 
− s’abstenir totalement de toute drogue, alcool et intoxicant.
<br /> 
<br /> 

Au cours de l’année passée, avez‐vous observé les Cinq Préceptes tels que décrits ci‐dessus sans les enfreindre gravement ?
  <label for="preceptesoui">Oui</label> <input type="radio" name="preceptes" value="Oui" <%= if @params[:preceptes] == 'Oui' then 'checked' end %> id="preceptesoui" />
  <label for="preceptesnon">Non</label> <input type="radio" name="preceptes" value="Non" <%= if @params[:preceptes] == 'Non' then 'checked' end %> id="preceptesnon" />
<br /> 
<br /> 

Au cours de l’année passée, vous-êtes vous abstenu de toute inconduite sexuelle ?
  <label for="inconduitesexuelleoui">Oui</label> <input type="radio" name="inconduitesexuelle" value="Oui" <%= if @params[:inconduitesexuelle] == 'Oui' then 'checked' end %> id="inconduitesexuelleoui" />
  <label for="inconduitesexuellenon">Non</label> <input type="radio" name="inconduitesexuelle" value="Non" <%= if @params[:inconduitesexuelle] == 'Non' then 'checked' end %> id="inconduitesexuellenon" />
<br /> 
<br /> 

Au cours de l’année passée, vous-êtes vous totalement abstenu de prendre toute drogue, alcool et intoxicant ?
  <label for="drogueoui">Oui</label> <input type="radio" name="drogue" value="Oui" <%= if @params[:drogue] == 'Oui' then 'checked' end %> id="drogueoui" />
  <label for="droguenon">Non</label> <input type="radio" name="drogue" value="Non" <%= if @params[:drogue] == 'Non' then 'checked' end %> id="droguenon" />

</fieldset>
<br /> 	

<fieldset>
  Si vous comptez organiser les méditations de groupe chez vous, les lieux satisfont-ils les conditions requises ?
  <label for="lieuxok">Oui</label> <input type="radio" name="lieux" value="Oui" <%= if @params[:lieux] == 'Oui' then 'checked' end %> id="lieuxok" />
  <label for="lieuxpasok">Non</label> <input type="radio" name="lieux" value="Non" <%= if @params[:lieux] == 'Non' then 'checked' end %> id="lieuxpasok" />
  <br /> 
  <br /> 

  <label>Jours de la semaine et horaires des méditations de groupe (si déjà décidés):</label> <input type="text" name="jourshoraires" value="<%= @params[:jourshoraires] %>" size=200 />

</fieldset>
<br />  

<fieldset>
<label> <span data-tip="Veuillez saisir ici le nom d'un assistant qui vous connaît bien ou avec lequel vous avez suivi ou servi un ou plusieurs cours.">Assistant référent </span> </label> <input type="text" name="assistantreferent" value="<%= @params[:assistantreferent] %>" required />


</fieldset>
<br />    

    <input type="submit" value="Envoyer" />
</form>

</body>

</html>